<launch>
       <!-- static_transform_publisher --> 
   <node pkg="tf" type="static_transform_publisher" name="laser" args="0 0 0 0 0 3.14   /uav/baselink_ENU /laser 200"/>
   <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0 1 map world 500" />
   
        
        <!-- laser --> 

   <node name="hokuyo" pkg="hokuyo_node" type="hokuyo_node" >
    <param name="port" type="string" value="/dev/ttyACM1" />
   <!-- <param name="angle_min" type="double" value="-0.78" /> -->
   <!-- <param name="angle_max" type="double" value="0.78" />  --> 
    <param name="skip" type="int" value="0" />
    </node>
   
   
           <!-- visualeyez_tracker  --> 

    <include file="$(find visualeyez_tracker)/launch/tracker_pixhawk_refactor.launch"/>
    <!-- <node pkg="rosservice" type="rosservice" name="" args="" launch-prefix="$(find indoor_uav_control)/launch/createRobotPosePublisher.sh"/> -->
    <node pkg="rosservice" type="rosservice" name="" args="call --wait /add_robot_tracker '{robot_name: 'uav', origin_marker_id: &quot;701&quot;, x_marker_id: &quot;702&quot;, y_marker_id: &quot;705&quot;}' " />
    <arg name="fcu_url" default="/dev/ttyACM0:57600" />
    <arg name="gcs_url" default="udp://10.0.0.105:14555@10.0.0.105:14550" />
    <arg name="system_id" default="1" />
    <arg name="component_id" default="50" />
    <arg name="target_system_id" default="1" />
    <arg name="target_component_id" default="50" />
    
    
    <include file="$(find mavros)/launch/node.launch">
        <arg name="pluginlists_yaml" value="$(find mavros)/launch/px4_pluginlists.yaml" />
        <arg name="config_yaml" value="$(find mavros)/launch/px4_config.yaml" />
        <arg name="fcu_url" value="$(arg fcu_url)" />
        <arg name="gcs_url" value="$(arg gcs_url)" />
        <arg name="tgt_system" value="$(arg target_system_id)" />
        <arg name="tgt_component" value="$(arg target_component_id)" />
    </include>
    
    
 
<!--    <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure"/> --> 
</launch>



